name: Generate Activity Posters

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

env:
  # please change to your own config.
  # this actions generate only this year
  # If you fork this please change the type to yours below
  TYPE: "grid,calendar,heatmap,circular,github" # support grid/calendar/heatmap/circular/github, Please change the 'grid' it to your own separated by commas
  ATHLETE: kohath

jobs:
  generate-posters:
    name: Generate Activity Posters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip" # caching pip dependencies

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install '.[all]'

      - name: Create output directory
        run: mkdir -p output

      - name: Generate Grid Poster
        if: contains(env.TYPE, 'grid')
        run: |
          CURRENT_YEAR=$(date +%Y)
          create_poster --from-strava \
            --year "$CURRENT_YEAR" \
            --athlete "${{ env.ATHLETE }}" \
            --title "My Activities $CURRENT_YEAR" \
            --type grid \
            --output "output/strava_grid.svg" \
            --track-color "#4DD2FF" \
            --track-color2 "#FF6B6B" \
        env:
          CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.STRAVA_CLIENT_REFRESH_TOKEN }}

      - name: Generate Calendar Poster
        if: contains(env.TYPE, 'calendar')
        run: |
          CURRENT_YEAR=$(date +%Y)
          create_poster --from-strava \
            --year "$CURRENT_YEAR" \
            --athlete "${{ env.ATHLETE }}" \
            --title "My Activities $CURRENT_YEAR" \
            --type calendar \
            --output "output/strava_calendar.svg" \
            --track-color "#4DD2FF" \
            --track-color2 "#FF6B6B" \
        env:
          CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.STRAVA_CLIENT_REFRESH_TOKEN }}

      - name: Generate GitHub Poster
        if: contains(env.TYPE, 'github')
        run: |
          CURRENT_YEAR=$(date +%Y)
          create_poster --from-strava \
            --year "$CURRENT_YEAR" \
            --athlete "${{ env.ATHLETE }}" \
            --title "My Activities $CURRENT_YEAR" \
            --type github \
            --output "output/strava_github.svg" \
            --track-color "#4DD2FF" \
            --track-color2 "#FF6B6B" \
        env:
          CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.STRAVA_CLIENT_REFRESH_TOKEN }}

      - name: Generate Circular Poster
        if: contains(env.TYPE, 'circular')
        run: |
          CURRENT_YEAR=$(date +%Y)
          create_poster --from-strava \
            --year "$CURRENT_YEAR" \
            --athlete "${{ env.ATHLETE }}" \
            --title "My Activities $CURRENT_YEAR" \
            --type circular \
            --output "output/strava_circular.svg" \
            --track-color "#4DD2FF" \
            --track-color2 "#FF6B6B" \
        env:
          CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.STRAVA_CLIENT_REFRESH_TOKEN }}

      - name: Generate Heatmap Poster
        if: contains(env.TYPE, 'heatmap')
        run: |
          CURRENT_YEAR=$(date +%Y)
          create_poster --from-strava \
            --year "$CURRENT_YEAR" \
            --athlete "${{ env.ATHLETE }}" \
            --title "My Activities $CURRENT_YEAR" \
            --type heatmap \
            --output "output/strava_heatmap.svg" \
            --track-color "#4DD2FF" \
            --track-color2 "#FF6B6B" \
        env:
          CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.STRAVA_CLIENT_REFRESH_TOKEN }}

      # push the content of <build_dir> to a branch
      # the content will be available at https://raw.githubusercontent.com/<github_user>/<repository>/<target_branch>/<file> , or as github page
      - name: push svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
